<% provide(:title, @user.name) %>
   <h1><%= current_user.name %></h1>
   <%= form_with(model: @user, url: month_update_users_reception_path(day: @first_day), local: true) do |f| %>
      <table class="table table-bordered">
<div>
   <table class="table table-bordered table-condensed user-table">
      <thead>
         <tr>
            <th>日付</th>
            <th>曜日</th>
            <th>名前</th>
            <th>出勤(◉or✖️)</th>
            <th>現場名</th>
            <th>備考</th>
            </tr>
      </thead>
      <tbody>

      </tbody>

   </table>


</div>